<div class = "page register-page">
    <h1>Register</h1>
    <form [formGroup]="registerForm" novalidate (submit)="registerColonist()" class="register-form">
      <input type="text" placeholder="Full Name" formControlName="name">
    
      <input type="number" placeholder="Age" formControlName="age">

      <select formControlName="job_id">
        <option value="">Select Occupation</option>
        <option *ngFor="let job of jobs" value="{{job.id}}">{{job.name}}</option> 
      </select>
      <button [disabled]="registerForm.status === 'INVALID'" type="submit">Check In</button>
    </form>
    {{registerForm.value | json}} <!--//transform the object into a json string-->
    {{registerForm.status | json}}

</div>
