/*Imports & Global Styling */

@import 'styles/reset';
@import 'styles/themes';

body {
  height: 100%;
  width: 100%;
  background: url('assets/space-background.jpg');
}
 
h1,
h2,
h3,
p {
  color: white;
  font-family: $primary-font;
  font-weight: 100;
  font-size: 20px;
}

h1,
h2 {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
}

h1 {
  font-size: 45px;
}


/*Settings for Register, Report, and Encounters pages */

.register-page,
.report-page,
.encounters-page {
  width: 100%;
}

.register-page h1,
.report-page h1 {
  text-align: center;
  padding-top: 50px;
}

.register-form,
.report-form {
  display: flex;
  flex-direction: column;
}

.register-form button,
.report-form button {
  width: 10%;
  align-self: center;
}

input,
select,
option {
  width: 20rem;
  padding: 0.75rem;
  margin: 1.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  width: 80%;
  align-self: center;
  color: white;
}

input::placeholder,
select {
  color: red;
}
